body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e6e6;
    margin-left: 250px;
    margin-right: 250px;
}

.footer, .header {
    left: 0;
    width: 100%;
    height: 40px;
    font-family: 'DogicaPixelRegular';
    font-weight: normal;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #437aa7;
    color: #c8e6ff;

    font-size: 15px;  
}

.header {
    top: 20px;
    font-size: 50px;
    margin-bottom: 25px;
    margin-top: 25px;    
}

#mainGrid {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-top: 3px solid black;
    border-left: 3px solid black;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

#grid:hover {
    background-color: black;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}